.flex {
    display: flex;
}

/* Horizontal centering */
.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}

/* Vertical align */
.align-items-center {
    align-items: center;
}

/* WRAP */
.flex-wrap {
    flex-wrap: wrap;
}
