/* Utils */
@import '../theme/utils/flexbox.css';
/* Fonts */
@import '../theme/utils/fonts.css';
@import '../theme/utils/texts.css';

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    height: 100%;
    width: 100%;
    font-weight: 400;
}
