/* Utils */
@import '../theme/utils/flexbox.css';
/* Fonts */
@import '../theme/utils/fonts.css';

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    height: 100%;
    width: 100%;
}

.Layout {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.ContentWrapper {
    min-height: 95%;
    width: 100%;
    flex-grow: 1;
}
